body {
    margin: 0;
    background: #000d40;
    font-family: 'Source Code Pro', monospace;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 2.4rem;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background: whitesmoke;
    width: 452px;
    height: 452px;
    margin: 0 auto;
    margin-top: 1em;
}

.box {
    width: 150px;
    height: 150px;
}

.box-1, 
.box-2, 
.box-4,
.box-5 {
    border-right: whitesmoke 1px solid;
    border-bottom: whitesmoke 1px solid;
}

 .box-3, 
 .box-6 {
    border-bottom: whitesmoke 1px solid;
}

.box-7, 
.box-8 {
    border-right: 1px whitesmoke solid;
}

.results {
    margin: 1em;
    padding: 0;
    /* border: red 1px solid; */
    text-align: center;
}

.motivation {
    margin-top: 0;
    color: red;
    font-size: 2.4rem;
    padding: 0.8em;
    /* border: white solid 1px; */
}

.reset {
    margin: 1.7em;
    padding: 0.8em 1.7em;
    font: inherit;
    font-size: 2.4rem;
    color: #000d40;
    background: whitesmoke;
    border: none;
}